<div class="center hero-unit">
  <h1>Welcome to Neev</h1>

  

  <%= link_to "Sign up now!", new_user_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("neev.png", alt: "neev"), 'http://www.neevtech.com/' %>